<!DOCTYPE html>
{% extends "employee_search/base.html" %}
    {% block form_block %}
        <div class="jumbotron">
            <h1>Welcome to my Employees Demo!</h1>
            <p>Please register a new user or login to search and modify the existing employees or add new ones.<br>
                As you can see, the site's front-end is bare bones.
                I will take care of it as soon as I am finished with the back-end.<br>
                Thank you for your understanding!</p>
        </div>
    {% endblock %}